/* アプリケーションの全体的なスタイルを記述するCSSファイル*/
#root {/*ルート要素*/
  max-width: 1280px;/*ルート要素の最大幅*/
  margin: 0 auto;   /*ルート要素のマージン*/
  padding: 2rem;    /*ルート要素のパディング*/
  text-align: center;/*ルート要素のテキストを中央揃え*/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
/*ロゴのアニメーション*/
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*ロゴのアニメーション*/
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}